<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite">
  <test name="All" >
    <classes>
       <class name="com.lohika.seleniumtool.LoginTest"></class>
       <class name="com.lohika.seleniumtool.PossitiveSidebarTest"></class>
       <class name="com.lohika.seleniumtool.NegativeSidebarTest"></class>
    </classes>
  </test>
</suite>
