<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite">
  <test name="All" >
    <classes>
       <class name="com.lohika.seleniumtool.LoginTest">
       	  <methods>
        		<include name="testCorrectLogin" />
      	  </methods>
       </class>
       <class name="com.lohika.seleniumtool.SidebarTest">
       	  <methods>
        		<include name="openConversationFromSidebarTest" />
        		<include name="searchNoResultsTest" />
      	  </methods>
       </class>
    </classes>
  </test>
</suite>
